<div class="container">
        <form class="form-horizontal" id="form_login">
            <h2 class="text-light">Logo goes here</h2>
            <div class="form-group row justify-content-center">
                <div class="col-9 ">
                    <input type="text" id="email" class="form-control" placeholder="email" name="email">
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-9 ">
                    <input type="text" id="pass" class="form-control" placeholder="password" name="pass">
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="form-group row justify-content-center">
                    <button type="submit" class="btn btn-primary col-6">Log in</button>
                    <button type="button" class="btn btn-link col-12">Forgot Password?</button>
                    <button type="button" class="btn btn-link col-12">Sign up</button>
                </div>
        </form>
    </div>