<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="my-user-sidebar col-1">
            <div class="my-div-marg"><a href="#!user/profile" class="text-white">My Profile</a></div>
            <div class="my-div-marg"><a class="text-warning">My History</a></div>
            <div class="my-div-marg"><a href="#!user/quote" class="text-white">Get Quote</a></div>
            <div class="my-div-marg"><a href="#!user/invoices" class="text-white">View Invoices</a></div>
        </div>
        <div class="my-user-content col-11">
            <div class="container" style="margin: 0px;" ng-controller="historyCtrl">
                    <h2 class="text-black" style="padding-left: 12px">Quote History</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Quote Date</th>
                                <th>Delivery Date</th>
                                <th>Amount In Gallons</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="quote in info.quotes">
                                <td>{{quote.Request_Date}}</td>
                                <td>{{quote.Request_Delivery_Date.substring(10,0)}}</td>
                                <td>{{quote.Number_of_Gallons}}</td>
                                <td>{{quote.Price | currency:"$"}}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>