<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="my-user-sidebar col-1">
            <div class="my-div-marg"><a class="text-warning">Main Page</a></div>
            <div class="my-div-marg"><a href="#!user/profile" class="text-white">My Profile</a></div>
            <div class="my-div-marg"><a href="#!user/history" class="text-white">My History</a></div>
            <div class="my-div-marg"><a href="#!user/quote" class="text-white">Get Quote</a></div>
            <div class="my-div-marg"><a href="#!user/invoices" class="text-white">View Invoices</a></div>
        </div>
        <div class="my-user-content col-11">
            User Main Page
        </div>
    </div>
</div>