<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="my-user-sidebar col-1">
            <div class="my-div-marg"><a href="#!user/profile" class="text-white">My Profile</a></div>
            <div class="my-div-marg"><a href="#!user/history" class="text-white">My History</a></div>
            <div class="my-div-marg"><a href="#!user/quote" class="text-white">Get Quote</a></div>
            <div class="my-div-marg"><a class="text-warning">View Invoices</a></div>
        </div>
        <div class="my-user-content col-11" ng-controller="invoiceCtrl as ic">
            <div class="container" style="margin: 0px;" ng-controller="clientCtrl">
                <h2 class="text-black" style="padding-left: 12px">Invoices</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Amount In Gallons</th>
                            <th>Requested Date</th>
                            <th>Delivery Date</th>
                            <th>Price</th>
                            <th>Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in info.invoices">
                            <td>{{item.Number_of_Gallons}}</td>
                            <td>{{item.Request_Delivery_Date.substring(10,0)}}</td>
                            <td>{{item.Delivery_Date.substring(10,0)}}</td>
                            <td>{{item.Price | currency:"$"}}</td>
                            <td ng-show="item.Paid == 1">Paid!</td>
                            <td ng-show="item.Paid == 0">
                                    <button type="submit" class="btn btn-primary my-form-submit"
                                    ng-click="ic.Pay(item.Invoice_ID)">Pay Now</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>