<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="my-user-sidebar col-2">
            <div class="my-div-marg"><a href="#!user" class="text-white">Main Page</a></div>
            <div class="my-div-marg"><a href="#!user/profile" class="text-white">My Profile</a></div>
            <div class="my-div-marg"><a href="#!user/history" class="text-white">My History</a></div>
            <div class="my-div-marg"><a href="#!user/quote" class="text-white">Get Quote</a></div>
            <div class="my-div-marg"><a class="text-warning">View Invoices</a></div>
        </div>
        <div class="my-user-content col-10">
            User View Invoices Page
        </div>
    </div>
</div>