<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="my-user-sidebar col-1">
            <div class="my-div-marg"><a href="#!user" class="text-white">Main Page</a></div>
            <div class="my-div-marg"><a href="#!user/profile" class="text-white">My Profile</a></div>
            <div class="my-div-marg"><a href="#!user/history" class="text-white">My History</a></div>
            <div class="my-div-marg"><a class="text-warning">Get Quote</a></div>
            <div class="my-div-marg"><a href="#!user/invoices" class="text-white">View Invoices</a></div>
        </div>
        <div class="my-user-content col-11">

            <div class="container" style="margin: 0px;">
                <form class="form-horizontal my-form-profile" id="form-profile" style="background: white; color:black;">
                    <div class="form-group row">
                        <div class="12">
                            <h2 class="text-black" style="padding-left: 12px">Request Quote</h2>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <label class="my-form-label">Gallons:</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="gallons" class="form-control my-form-user" placeholder="Gallons"
                                name="gallons">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label class="my-form-label">Shipment Address:</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <input type="text" id="Address1" class="form-control my-form-user" placeholder="Address1"
                                name="Address1" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <input type="text" id="Address2" class="form-control my-form-user" placeholder="Address2"
                                name="Address2" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <input type="text" id="City" class="form-control my-form-user" placeholder="City"
                                name="City" disabled>
                        </div>
                        <div class="col-2">
                            <input type="text" id="State" class="form-control my-form-user" placeholder="State"
                                name="State" disabled>
                        </div>
                        <div class="col-3">
                            <input type="text" id="Zipcode" class="form-control my-form-user" placeholder="Zipcode"
                                name="Zipcode" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label class="my-form-label">~~~~~~~~~~~~~~~~~~~~*~~~~~~~~~~~~~~~~~~~~</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <label class="my-form-label">Devilery Date:</label>
                        </div>
                        <div class="col-4">
                            <input type="date" id="date" class="form-control my-form-user" placeholder="date"
                                name="date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary my-form-submit">Proceed</button></div>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>