html{
    height: 100%;
}
body{
    height:100%;
}

.my-pill:hover {
    color: green;
}

.my-bg-gray{
    background-color: rgb(65, 65, 65);
}

.my-test {
    display: block;
    overflow: hidden;
    padding: 0 10px 0 8px;
}

#form_login{
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
}

.my-form-label {
    color:black;
    font-size: 12px;
    border: hidden;
}

form {
    background-color:#38393b;
}

.form-control {
    color:white;
    font-size: 12px;
    border: hidden;
    background-color:#2e2e30;
}
.form-control:hover{
    color:white;
    background-color: #252527;
}
.form-control:focus{
    color:white;
    background-color: #252527;
    border-color: gray;
}
.form-control::placeholder .form-control:-ms-input-placeholder {
    color: rgb(172, 169, 169);
}

.my-form-user {
    color: black;
    font-size: 12px;
    border: hidden;
    background-color: rgb(179, 179, 179);
}



.my-form-profile{
    margin: 0px;
    margin-top: 0px;
    width: 600px;
}

.btn-primary{
    width: 50%;
    color:white;
    font-size: 12px;
    border: hidden;
    background-color:#2e2e30;
}
.btn-primary:hover{
    background-color: #252527;
}
.btn-primary:active{
    background-color: gray;
}

.my-form-submit{
    color:black;
    background-color: rgb(179, 179, 179);
}

.btn-link{
    width: 100px;
    color:white;
    font-size: 12px;
    border: hidden;
}


.btn-link:hover{
    color: white;
}
.btn-link:active{
    color: gray;
}


.my-bg-dark{
    background: #2e2e30;
}

@-webkit-keyframes autofill2 {
    to {
        color: black;
        background-color: rgb(179, 179, 179);;
    }
}
.my-form-user:-webkit-autofill {
    -webkit-animation-name: autofill2;
    -webkit-animation-fill-mode: both;
}
.my-form-user:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #2e2e30 inset;
    -webkit-text-fill-color: white;
}
.my-form-user:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 50px #252527 inset;
    -webkit-text-fill-color: white;
}


@-webkit-keyframes autofill {
    to {
        color: white;
        background-color: #2e2e30;
    }
}
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #2e2e30 inset;
    -webkit-text-fill-color: white;
}
input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 50px #252527 inset;
    -webkit-text-fill-color: white;
}


.my-user-sidebar{
    padding: 10px;
    background-color: rgb(80, 80, 80);
    color: white;
}

.my-user-content{
    padding: 20px 25px;
    background-color: white;
    color: black;
}

.my-div-marg{
    margin-bottom: 15px;
}

.container-fluid{
    height: 100%;
    overflow: hidden;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover{
    background-color: rgb(80, 80, 80);
}

