<!DOCTYPE html>
<html lang="en" ng-app="yoFeul">
<title>Yo Feul</title>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="modules/angular.js"></script>
<script src="modules/angular-route.js"></script>

<script src="controls/yoFeul-Module.js"></script>
<script src="controls/routing.js"></script>
<script src="controls/signinCtrl.js"></script>

<link rel="stylesheet" href="views/style/mainStyle.css">

</html>

<body ng-controller="generalCtrl" class="my-bg-gray">
    <div class="navbar navbar-inverse my-bg-dark">
        <span class="navbar-brand float-left col-4 text-light">Yo Feul</span>
        <span class="nav-pills col-7">
            <a href="#!login" class="float-right text-white col-2">Login</a>
            <a href="#" class="float-right text-white col-2">Home</a>
            <a href="#!about" class="float-right text-white col-2">About</a>
        </span>
    </div>

    <ng-view>

</body>